<div class="repo-card">
  <a href="{{ repo.html_url }}" target="_blank" class="title">{{ repo.name }}</a>

  <p class="description">{{ repo.description }}</p>

  <div class="information">
    <div class="repo-info issues" placement="bottom" ngbTooltip="Issues">
      <i class="fas fa-exclamation-circle"></i> {{ totalIssues }}
    </div>

    <div class="repo-info issues open" placement="bottom" ngbTooltip="Closed Issues">
      <i class="fas fa-exclamation-circle"></i> {{ openIssues }}
    </div>

    <div class="repo-info forks" placement="bottom" ngbTooltip="Forks">
      <i class="fas fa-code-branch"></i> {{ repo.forks_count }}
    </div>

    <div class="last-update">
      Updated on {{ repo.getLastUpdate() }}
    </div>
  </div>
</div>
